html {
    scroll-behavior: smooth;
}

body {
    background: white;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1 {
    color: white;
    font-size: 80px;
    font-weight: 700;
    text-align: center;

    margin: 0;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

/*header*/

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    width: 100%;
    box-shadow: 1px 5px 5px 0px rgba(0,0,0,0.1);
}

.header__inner {
    height: 90px;
    display: flex;
    justify-content: space-around;
    padding: 0;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    margin: 80px;
}

.nav__link {
    min-width: 76px;
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #000;
    text-align: center;
    transition: color .3s linear;
}

.nav__link:hover {
    color: #b3278d;
}

.nav__toggle {
    position: relative;
    margin-right: 60px;
    background: none;
    border: 0;
    font-size: 0;
    width: 23px;
    height: 23px;
    cursor: pointer;
    display: none;
    outline: transparent;
}

.nav__toggle-item {
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #000000;
    display: block;
}

.nav__toggle-item:before,
.nav__toggle-item:after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #000000;
    position: absolute;
    left: 0;
}

.nav__toggle-item:before {
	top: -8px;
}

.nav__toggle-item:after {
	bottom: -8px;
}

/*intro*/

.intro {
    background-image: url("../assets/img/intro.jpg");
    background-color: #0a213c;
    height: 100vh;
    background-size: cover;
    position: relative;
}

.intro__inner {
    position: absolute;
    top: 40%;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro__title {
    margin-bottom: 50px;
}

.intro__btn-inner {
    background: #0030ff;
}

.intro__btn {
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    background: #fff;
    padding: 16px 32px;
    color: #000;
    transition: transform .3s linear;
}

.intro__btn:hover {
    transform: translate3d(-5px, -5px, 0);
}

/* About */

.about {
    background: #fff;
    margin-bottom: 100px;
}

.about__item {
    display: flex;
    flex-direction: row;
    padding: 144px 0 0;
}

.about__img-inner {
    position: relative;
    margin: 0 20px 0 0;
    max-height: 396px;
}

.img__back {
    background: #b3278d;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.about__img {
    display: inline-block;
    position: relative;
    transition: transform .3s linear;
    z-index: 2;
}

.about__img:hover {
    transform: translate3d(-8px, -8px, 0);
}

.about__block {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

.about__text {
    font-size: 16px;
    margin-bottom: 64px;
}

.about__btn-inner {
    height: 52px;

}

.about__inner-inner {
    position: relative;
    width: 137px;
}

.btn__back {
    background: #01197e;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
}

.about__btn {
    display: inline-block;
    background: #0030ff;
    color: #fff;
    padding: 16px 32px;
    text-decoration: none;
    width: fit-content;
    position: relative;
    z-index: 2;
    transition: transform .3s linear;
}

.about__btn:hover {
    transform: translate3d(-5px, -5px, 0);
}

/*portfolio*/

.port {
    text-align: center;
}

.port__title {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
}

.port__text {
    font-size: 16px;
    margin-bottom: 60px;
}

.port__img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.port__column {
    width: 45%;
    margin-right: 20px;
}

.port__column:last-child {
    margin: 0;
}

.img {
    width: 100%;
    margin-bottom: 20px;
}

/*footer*/

.footer {
    background: #000415;
    color: #fff;
}

/*.di {*/
/*    width: 100%;*/
/*    margin: 0 auto;*/
/*}*/
.footer__container {
        width: 100%;
        margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.footer__info {
    display: flex;
    justify-content: space-between;
    position: relative;
    flex-direction: row;
}

.footer__logo {
    color: #31d7ce;
    font-size: 30px;
    font-weight: 700;
    margin: 105px 0 76px;
}

.logo__style {
    margin-bottom: 0;
    padding-bottom: 0;
}

.slogan {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
    margin-top: 0;
    padding-top: 0;
}

.footer__contact {
    font-size: 14px;
    margin-top: 90px   ;
}

.copyright {
    text-align: center;
    font-size: 15px;
    color: #818181;
    margin-bottom: 30px;
}

.footer__address {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.footer__phone {
    display: flex;
    margin-top: 20px;
    align-items: center;
}

.address {
    display: block;
    margin-left: 20px;
}

.contacts {
    display: block;
    margin-left: 20px;
}

.img__phone {
    width: 21px;
    height: 20px;
}

@media (max-width: 970px) {
    /* Intro */

    .intro-inner {
        top: 20%;
    }

    /* About */
    .about {
        margin-bottom: 50px;
    }

    .about-title {
        margin-bottom: 40px;
    }

    .about-item {
        justify-content: center;
        flex-wrap: wrap;
        padding-top: 60px;
        text-align: center;
    }

    .about-block {
        justify-content: center;
    }

    .about-btn-inner {
        text-align: -webkit-center;
    }

    /* Port */
    .port-title {
        margin-bottom: 40px;
    }

    /* Footer */
    .footer-logo {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .footer-contact {
        margin-top: 50px;
    }

    .copyright {
        margin-bottom: 15px;
    }

}


 @media (max-width: 766px) {
     /* Header */
     .header__inner {
         height: 60px;
     }

     .nav {
         display: none;
     }

     .nav__open {
         position: absolute;
         display: block;
         width: 100%;
         top: 100%;
         background-color: #fff;
    }

     .nav__toggle {
         display: block;
     }

     .nav__link {
         width: 100%;
         border-bottom: 5px solid transparent;
         padding: 7px 0;
     }

     .nav__link:hover {
        border-bottom-color: #b3278d;
     }

     /* Intro */
     .intro {
         height: 70vh;
     }

     .intro__inner {
        top: 15%;
     }

     .intro__title {
         font-size: 70px;
     }

     /* About */
     .about__block {
         margin-left: 20px;
         margin-right: 20px;
     }

     .about__img-inner {
        margin: 0;
        width: 300px;
        height: auto;
    }

    .about__img {
        width: 300px;
        height: auto;
    }

     /* Port */
    .port__column {
        width: 60%;
        margin: 0;
    }

    /* Footer */
    .footer__info {
        margin: 0 40px;
    }
}

@media (max-width: 540px) {
    .intro__title {
        font-size: 60px;
    }
}

